<section class="phx-hero">
  <h1><%= gettext "Welcome to Fly.io, kamidev!" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Deployment</h2>
    <a href="https://fly.io/docs/getting-started/elixir/">Build, Deploy and Run an Elixir Application</a>
  </article>
</section>
